<div class="row">
    <div class="col-sm-3 col-lg-3">
        <div class="dash-unit">
            <dtitle>Revenue</dtitle>
            <hr>
            <div class="cont">
                <p><bold>$0</bold> | <ok>Last month</ok></p>
                <br>
                <p><bold>$0</bold> | <ok>Current week</ok></p>
                <br>
                <p><bold>$0</bold> | <ok>Current day</ok></p>
                <br>
                <p><img src="assets/img/up-small.png" alt=""> 0% Compared Last Month</p>

            </div>

        </div>
    </div>
    <div class="col-sm-9 col-lg-9">
        <div class="dash-unit">
            <dtitle>Last Month Revenue</dtitle>
            <hr>
            
                <div id="parko-weekly">
                </div>
            
        </div>
    </div>
    
</div>